<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to get started?</h2>
      <p class="callout__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum,
        architecto? Perferendis odio necessitatibus delectus libero! Asperiores
        voluptatem iure expedita dicta.
      </p>
    </div>
    <a href="#"><button class="btn btn--secondary">Button</button></a>
  </div>
</div>
